name: check
on: push

jobs:
  check:
    name: check with integration tests
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/soracom/soratun/soratun-test:latest
      env:
        WG_INTEG_TEST: enabled
      options: --cap-add=NET_ADMIN --cap-add=SYS_MODULE -e PUID=1000 -e PGID=1000 -e TZ=UTC --sysctl="net.ipv4.conf.all.src_valid_mark=1"
    steps:
    - name: Check out code
      uses: actions/checkout@v3
    - name: Prepare the tunnel
      run: mkdir -p /dev/net ; mknod /dev/net/tun c 10 200 ; chmod 600 /dev/net/tun
    - name: Do checking
      run: make check-ci
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: v1.49
